body {
  font-family: Open Sans, Roboto, Verdana;
  margin: 0;
  padding: 0;
  background-image: url('road.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.label {
  font-size: larger;
  color: rgb(0, 0, 0);
}

.navigation {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #dbe4f5;
  padding-bottom: 0.3rem;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.header-logo {
  padding-top: 10px;
  padding-left: 56px;
  width: 8rem;
  float: left;
  animation: logo-scale 1s infinite alternate;
}

@keyframes logo-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 25px;
  position: relative;
}

nav a {
  color: #006400;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  color: #006400;
}

nav a:hover::before {
  width: 100%;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #228b22;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

.anchor {
  font-family: Poppins;
  color: #18690b;
  font-weight: bolder;
}

.h1 {
  color: #ffff00;
  font-family: 'Helvetica';
}

.heading1 {
  font-size: large;
  color: rgb(0, 0, 0);
}

.heading {
  color: rgb(11, 112, 20);
  font-size: 60px;
  font-family: Poppins;
}

.container_heading {
  color: rgb(183, 11, 131);
  font-size: 60px;
  font-family: Papyrus;
  font-weight: bolder;
}

.text_heading {
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-family: cursive;
}

.heading2 {
  font-size: large;
  color: rgb(3, 1, 132);
  font-family: Poppins;
}

.heading3 {
  font-size: large;
  color: rgb(3, 1, 132);
  font-family: Poppins;
}

input[type='text'],
input[type='email'],
input[type='date'],
input[type='tel'],
input[type='number'],
input[type='password'] {
  width: 100%;
  margin: 8px 0;
  padding: 10px 20px;
  box-shadow: 0 0 5px 1px;
  border-radius: 10px;
  display: inline-block;
  border: 5px solid lightblue;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.9);
}

input[type='text']:hover,
input[type='email']:hover,
input[type='password']:hover,
input[type='tel']:hover {
  background-color: #f5f5f5;
  transition: all 0.3s ease;
}

button[type='submit'] {
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin-top: 30px;
  background-color: #04d160;
  color: #fffafa;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type='submit']:hover {
  background-color: #00b348;
}

.container {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  margin: 20px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #000;
}

.container_long_page {
  min-height: 100%;
  position: relative;
  height: auto;
  width: 1200px;
  margin: 20px auto;
  padding: 30px;
  padding-bottom: 30px;
  background: rgba(222, 242, 161, 0.745);
  border-radius: 12px;
  box-shadow: 0px 0px 10px #7de85c;
  transition: all 0.2s ease-out;
}

.logout_button {
  display: block;
  color: #006400;
  text-decoration: none;
  background-color: #cbf4b5;
  font-size: 20px;
  font-weight: bold;
  border-color: #034803;
  border-block-color: green;
  border-radius: 10px;
}

.logout_button:hover {
  background-color: #80f2ae;
}

.state {
  width: 100%;
  margin: 8px 0;
  padding: 10px 20px;
  box-shadow: 0 0 5px 1px;
  border-radius: 10px;
  display: inline-block;
  border: 5px solid lightblue;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.9);
}

.state:hover {
  background-color: #f5f5f5;
  transition: all 0.3s ease;
}

.tablebox {
  width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 32px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 35px;
  box-shadow: 0px 0px 10px #000;
}

th {
  width: 200px;
}

td {
  width: 100px;
  text-align: center;
  font-weight: bold;
}

table,
th,
td {
  border: 2.3px solid green;
}

.social_container {
  width: auto;
  height: auto;
  overflow: hidden;
  margin: auto;
  padding: 30px;
  background: rgba(177, 224, 238, 0.411);
  border-radius: 15px;
}

.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #f6f8f5;
  opacity: 0.8;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.wrapper .button:hover {
  width: 200px;
}

.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
  color: #caf0d6;
}

.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
  background: #4267b2;
}
.wrapper .button:nth-child(2):hover .icon {
  background: #1da1f2;
}
.wrapper .button:nth-child(3):hover .icon {
  background: #e1306c;
}

.footer {
  background-color: #cbf4b5;
  color: #243ac6;
  font-size: 13px;
  font-weight: bolder;
  text-align: center;
  padding: 2.5px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer p {
  margin: 0;
}
